<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Recipe Name</h4>
        <p class="list-group-item-text">Description</p>
      </div>
      <span>
        <img src="https://cdn.pixabay.com/photo/2014/12/21/23/28/recipe-575434_960_720.png" alt="" class="img-responsive" style="max-height: 50px" />
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
